body {
    margin: 0;
}

/* PANORAMA */
.panorama {
    display: flex;
    position: relative;
    overflow-x: auto;
    height: 100vh;
}

/* AFBEELDINGEN */
.panorama img {
    height: 100vh;
    flex-shrink: 0;
}

/* HOTSPOTS */
.hotspot {
    position: absolute;
    width: 70px;
    height: 70px;
    background: blue;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* POSITIES */
#hotspot1 { left: 800px; top: 220px; }
#hotspot2 { left: 400px; top: 20px; }
#hotspot3 { left: 3500px; top: 550px; }
#hotspot4 { left: 8500px; top: 550px; }
#hotspot5 { left: 10500px; top: 550px; }

/* POPUP */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.popup-content img {
    width: 100%;
    margin-top: 10px;
}

#popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}
