/* PANORAMA CONTAINER */
.panorama {
    display: flex;
    position: relative;      
    overflow-x: auto;        
    height: 100vh;
}

/* AFBEELDINGEN */
.panorama img {
    height: 100vh;
    display: block;
    flex-shrink: 0;        
    margin-right: 2px;       
}

/* HOTSPOTS */
.hotspot {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgb(66, 24, 206);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;      
    font-weight: bold;
    text-align: center;
}

/* POSITIES VAN HOTSPOTS */
#hotspot1 { left: 300px; top: 320px; }
#hotspot2 { left: 400px; top: 20px; }
#hotspot3 { left: 600px; top: 150px; }
#hotspot4 { left: 400px; top: 10px; }
#hotspot5 { left: 5000px; top: 180px; }
#hotspot6 { left: 5500px; top: 200px; }
#hotspot7 { left: 6500px; top: 230px; }

/* UITLEG POPUP */
.hotspot-uitleg {
    display: none;           
    position: absolute;
    top: 90px;              
    left: 0;                 
    width: 200px;
    background-color: rgb(176, 39, 39);
    color: white;
    border: 2px solid black;
    padding: 10px;
    z-index: 10;
    font-size: 14px;
    border-radius: 5px;
}

/* TOON DE UITLEG ALS DE 'show' CLASS WORDT TOEGEVOEGD */
.hotspot-uitleg.show {
    display: block;
}
